body{
    background: linear-gradient(to top, rgba(17, 17, 17, 0.5) 0%, rgba(248, 246, 246, 0.5) 87%) fixed no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 16%;
    height: 70vh;
    width: 60%;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #494a4b,
                -12px -12px 20px #ffffff;
}
.display #screen{
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    padding-right: 5px;
    background: #f7f9fa;
    border-radius: 11px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fcfdfd;
    text-align: end;
}

.btns{
    margin-top: 16%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    position: relative;
    left: 5%;
    right: 20%;

}
.btns .row button
{
    width: 65px;
    height: 37px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    margin-left: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #14130c,
                -5px -5px 8px #f3e6a4;
}



